.about-pic{
  width: 100%;
}

.about-me {
  p {
    font-size: 18px;
    line-height: 1.8;
    font-family: cursive;
  }
  
  p.heading {
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
    font-style: italic;
  }
}