.about-container {
  padding: 15px;
  background: #FFC107;
  height: 100vh;

  .about-images{
    width: 180px;
    position: absolute;
  }

  .about-inner-container{
    position: relative;
    .img-mac{
      left: 50px;
      top:100px;
      -ms-transform: rotate(7deg); /* IE 9 */
      -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
      transform: rotate(-40deg);
    }

    .img-stark {
      left: 350px;
      top: 5px;
    }

    .img-darth{
      right: 40px;
      top:80px;
      -ms-transform: rotate(7deg); /* IE 9 */
      -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
      transform: rotate(20deg);
    }

    .img-mobile{
      right: 40px;
      top: 450px;
    }

    .img-console{
      left: 100px;
      top: 500px;
      -ms-transform: rotate(7deg); /* IE 9 */
      -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
      transform: rotate(-20deg);
    }

    .intro { 
      width: 920px;
      position: absolute;
      right: 0;
      margin-top: 270px;

      text-align: right;
      
      padding-right: 120px;
      font-family: monospace;
      color: white;
      p.salutation {
        font-size: 60px;
      }

      p.house-name {
        font-size: 24px;
        margin-bottom: 100px;      
      }

      
    }

    .sub-intro {
      text-align: right;
      p.description {
        font-size: 16px;
        color: white;
        font-family: monospace;
      }
    }   
  }
}


/* GLOBAL STYLES */
body {
  
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

