@import './general';

.menu {
  position: absolute;
  left: 13%;
  top: 20px;
  z-index: 4;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.icon-bar {
  font-size: 30px;
}


.hamburger {
  div {
    width: 30px;
    height: 5px;
    background-color: rgba(38, 50, 56, 0.9);
    margin: 6px 0;
  }
}

.main-container{
  padding-left: 15%;
}
    
.hide-nav-bar {
  .nav-container{
    left: -15%;
    transition: left .5s;
    @include respond-to(sm) {
      left: -50%;
    }  

  }

  .main-container {
    padding-left: 0px;
    transition: padding-left .45s;
  }
  .menu {
    left: 20px;  
    transition: left .5s;
    color: #263238
  }
}

.show-nav-bar {
  
  .nav-container{
    left: 0;
    transition: left .45s;

    @include respond-to(sm) {
      width: 100%;
      z-index: 2;
    }
  }

  .main-container {
    padding-left: 15%;
    transition: padding-left .5s;
  }
  .menu {
    left: 13%;
    transition: left .45s; 
    color: white;

    @include respond-to(sm) {
      right: 16px;
      left: initial;
      font-size: 20px;
    }
  }
}

.menu-bar {
  display: none;
  position: absolute;
  left: 150px;
  top: 20px;
  z-index: 4;
  font-size: 20px;
  cursor: pointer;
  color: white;
}    


.small-screen-hide {
  .nav-container{

    @include respond-to(sm) {
      left: -600px;
      transition: left .5s;
    }
    
  }

  .main-container {
    @include respond-to(sm) {
      padding-left: 0px;
      transition: padding-left .45s;
    }  
  }
  .menu {
    @include respond-to(sm) {
      display: none;
    }  
  }
  .menu-bar {
    @include respond-to(sm) {
      left: 20px;  
      right: 0px;
      transition: left .5s;
      color: #263238;
      display: block;
    }  
  }
}

