.skills-container {
  background: #EDEFED;
  height: 100vh;  
  padding: 0 15px;

  .skills-inner-container {
    .intro {
      padding-top: 40px;
      .profile-image-container {
        display: inline-block;
        width: 120px; 
        .profile-image {
          width: 100px;
          height: 100px;
        }
      }

      .profile-description-container {
        vertical-align: top;
        width: 88%;
        display: inline-block;
        p {
          line-height: 1.5;
          margin-top: 16px;
        }
      }
      
    }

    .bar-chart-card {
      text-align: center;
    }

    .highlights-card {
      height: 100px;
    }

    .card-numbers, .card-description {
      cursor: pointer;
      width: 50%;
      display: inline-block;
    }

    .card-numbers {
      vertical-align: top;
      text-align: center;
      .number{
        font-size: 30px;
        padding-top: 8px;
      }
      .number-description {
        font-size: 12px;
      }  
    }

    .card-description {
      text-align: center;
      vertical-align: top;
      .card-description-logo {
        padding-top: 15px;
        img {
          max-width: 100px;
          max-height: 30px;
        }
      }
      .card-description-title{
        padding-top: 8px;
        font-size: 12px;
      }
    }
  }  
  
}  

    